
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Request Meta">
    <meta name="keywords" content="requestbin,requestMeta,webhook">
    <meta name="author" content="Jackey Gao (JG)">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/container.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/web.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="ui container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  {% block footer %} {% endblock %}
</html>
